.sign-in-container {
    background-color: #001524;
    .signin-form-container {
        background-color: white;
        padding: 30px 20px;
        min-width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        border-radius: 5px;
        form {
            input {
                width: 300px !important;
            }
        }
    }
}

.logo {
    width: 50px;
}

@media (min-width: 1000px) {
    .sign-in-container {
        .signin-form-container {
            width: 400px;
        }
    }
}